.main-section {
    position: relative; 
    width: 1440px;
    height: 680px}

.fon1{
    position: absolute;
    top: 80;
    left: 0;
    width: 100%;
    z-index: 0}

.underline {
    position: absolute;
    top: 489px;
    left: 54px;
    width: 100%;
    object-fit: cover; 
    z-index: 1}

.subline {
    font-family: 'EBGaramond Regular', 'serif';
    font-size: 35px;
    font-weight: normal;
    color: #FDFEF0;
    line-height: 111%;
    }

.ooo {
    position: absolute;
    top: 330px;
    left: 208px;
    width: 9%;
    object-fit: cover;
    z-index: 1}
.letters {
    position: absolute;
    top: 0px;
    left: 300 px;
    width: 100%;
    object-fit: cover;
    z-index: 1}

.Title {
    position: absolute;
    top: 43px;
    left: 54px;
    width: 100%;
    z-index: 1;
    font-family: 'EBGaramond',serif;
    font-style: regular;
    font-size: 170px;
    color:#FDFEF0;
    line-height: 84%;}

.Title2 {
    position: absolute;
    top: 328px;
    left: 341px;
    width: 100%;
    z-index: 1;
    font-family: 'EBGaramond', serif;
    font-style: regular;
    font-size: 170px;
    color: #FDFEF0;
    line-height: 84%;
}

.description {
    position: relative;
    width: 1440px;
    height: 721px}

.fon2 {
    position: absolute;
    width: 1440px;
    height: 721px}

.perfect {
    position: absolute;
    top: 133px;
    left: 54px;
    object-fit: cover;
    z-index: 1}

.textblock {
    position: absolute;
    top: 130px;
    left: 820px;
    width: 100%;
    z-index: 1;
    font-family: 'EBGaramond', 'Regular';
    font-size: 30px;
    color: #373E1F;
    line-height: 1.2}

.textblock2 {
    position: absolute;
    top: 328px;
    left: 820px;
    width: 100%;
    z-index: 1;
    font-family: 'EBGaramond', 'Regular';
    font-size: 30px;
    color: #373E1F;
    line-height: 1.2}

.pangram {
    position: absolute;
    top: 573px;
    left: 405px;
    width: 39%;
    z-index: 1;
}

.Buldog {
    position: relative;
    width: 1440px;
    height: 680px}

.fon3 {
    position: absolute;
    width: 1440px;
    height: 680px}

.balls {
    position: absolute;
    left: 2px;
    width: 100%;}

.num3096 {
    position: absolute;
    top: 280px;
    left: 649px;
    width: 100%;
    z-index: 1;
    font-family: 'EBGaramond';
    font-weight: Bold;
    font-size: 80px;
    color: #FDFEF0;
    line-height: 1.2}

.glf {
    position: absolute;
    top: 356px;
    left: 690px;
    width: 100%;
    z-index: 1;
    font-family: 'EBGaramond';
    font-size: 25px;
    color: #FDFEF0;
    line-height: 1.2}

.num10{
    position: absolute;
    top: 175px;
    left: 154px;
    z-index: 1;
    font-family: 'EBGaramond';
    font-weight: Bold;
    font-size: 80px;
    color: #FDFEF0;
    line-height: 1.2}

.nach {
    position: absolute;
    top: 250px;
    left: 140px;
    z-index: 1;
    font-family: 'EBGaramond', 'Regular';
    font-size: 25px;
    color: #FDFEF0;
    line-height: 1.2
}
.num71 {
    position: absolute;
    top: 310px;
    left: 1243px;
    z-index: 1;
    font-family: 'EBGaramond';
    font-weight: Bold;
    font-size: 80px;
    color: #FDFEF0;
    line-height: 1.2}

.lang {
    position: absolute;
    top: 386px;
    left: 1259px;
    z-index: 1;
    font-family: 'EBGaramond', 'Regular';
    font-size: 25px;
    color: #FDFEF0;
    line-height: 1.2
}
.dog {
    position: absolute;
    top: 445px;
    left: 4px;
    width: 30%;
    z-index: 1}

.circlesection {
    position: relative;
    width: 1440px;
    height: 680px}

.fon4 {position: absolute;
    width: 1440px;
    height: 680px}

.features {
    position: relative;
    width: 1440px;
    height: 999px}

.fon5 {
    position: absolute;
    width: 1440px;
    height: 999px}

.posters {
    position: relative;
    width: 1440px;
    height: 680px}

.fon6 {position: absolute;
    width: 1440px;
    height: 673px}